[defaults]
# Configuración básica
inventory = ./inventario
host_key_checking = False
deprecation_warnings = False
interpreter_python = auto_silent

# Configuración de SSH
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes
pipelining = True
scp_if_ssh = True

# Configuración de privilegios
[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[galaxy]
roles_path = ./roles
collections_path = ./collections
